services:
  sba_backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: crm_back_dev
    working_dir: /app
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./:/app:cached
      - node_modules:/app/node_modules
    env_file:
      - .env
    command: npm run start:dev
volumes:
  node_modules:
    driver: local