services:
  sba_backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: crm_back_dev
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    command: npm run start:dev
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
volumes:
  node_modules:
    driver: local