name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Install / Build / Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies (yarn)
        run: yarn install --frozen-lockfile

      - name: Build (yarn)
        run: yarn build

      - name: Run unit tests (yarn)
        run: yarn test --silent

      - name: Upload `dist` artifact (if present)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: |
            dist/**
